matplotlib==3.10.6
numpy==2.3.2
optuna==4.5.0
pandas==2.3.2
Pillow==11.3.0
pydicom==3.0.1
pyhealth==1.1.6
pytorch_tabnet==4.1.0
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
xgboost==3.0.5